# Public MTProto port on VPS (open it in your firewall/security group)
PORT=443

# Comma-separated users in format name:32_hex_secret
# Example: USERS=tg:0123456789abcdef0123456789abcdef
USERS=tg:USERS=tg:edaeec74f75f28ef71e375e038bbd219

# Proxy transport modes
MODE_CLASSIC=false
MODE_SECURE=false
MODE_TLS=true

# Optional values
TLS_DOMAIN=www.google.com
AD_TAG=
